<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intigate.emall">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission
        android:name="com.intigate.emall.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.intigate.emall.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.intigate.setup.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.intigate.id.MyId"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.intigate.id.Details_mail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name="com.intigate.points.Activity_my_points"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name="com.intigate.points.RedeemMyPoint_Detail"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name="com.intigate.id.SendMail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.intigate.setup.ConfirmPassword"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.intigate.id.MyProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="com.intigate.id.MailBox"></activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.intigate.points.Redeem_MyPoints"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.intigate.points.GetMorePoints"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.intigate.offers.Offers"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.intigate.offers.Offers_Detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"

            ></activity>


        <activity
            android:name="com.intigate.coupans.MyCoupans"
            android:screenOrientation="portrait"


            ></activity>
        <activity
            android:name="com.intigate.coupans.Redeem_coupan"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.intigate.offers.Offer_reviews"></activity>

        <service android:name=".GCMIntentService"></service>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidhive.pushnotifications" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
